body {
  padding: 0;
  margin: 0;
  background-color: hsl(30, 54%, 90%);
}
/* CENTER */
.mega {
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.cont {
  background-color: white;
  padding: 25px;
  padding-bottom: 3%;
  border-radius: 15px;
  /* width: 38.5vw; */
  width: 500px;
  min-height: 100vh;
  
}
img {
  width: 98%;
  display: block;
  margin: auto;
  border-radius: 10px;
}
/* fonts FOR HEADERS */
h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
P,
li,
td,
h2.prep {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400 600 700;
  font-style: normal;
}
p,
li {
  width: 99%;
  font-size: 12px;
}
/* PREPARATION SECTION */
.prep {
  background-color: hsl(330, 100%, 98%);
  border-radius: 3%;
  padding: 7px;
}
h2.prep {
  color: hsl(332, 51%, 32%);
  font-size: medium;
}
ul.prp {
  color: hsl(332, 51%, 32%);
}
/* INGREDIENTS SECTION */
h2 {
  color: maroon;
}
ul.ing {
  margin-left: 2%;
  padding: 2%;
  list-style-type: square;
  color: maroon;
}
span {
  color: black;
}
/* INSTRUCTION SECTION */
ol.tion {
  margin-left: 2%;
  padding: 2%;
  color: maroon;
}
li {
  padding: 4px;
}
/* NUTRITION SECTION */
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  padding: 2%;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
td:last-child {
  color: maroon;
}
td.last {
  border-bottom: none;
}